body{
    margin: 0;
}

.header-sec{
    display: flex;
    margin-top: 40px;
}
.first-text{
    width: 50%;
    padding: 20px;
}
.first-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin: 0px;
    margin-left: 10px;
}
.left-border{
    border-left: 4px solid cyan;
}
.first-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#color-h1{
    color: #FF287D;
    margin-top: 5px;
}
.all-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    background: linear-gradient(rgb(245, 181, 6), rgb(255, 0, 255));
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
#under-btn-p{
    font-size: 16px;
    margin-top: 40px;
}
.first-image{
    width: 50%;
}
.first-image img{
    width: 80%;
}


/* mission part started from here */
.mission-sec{
    margin: 80px 40px;
}
.mission-title{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.mission-title span{
    color: chocolate;
}
.mission-part{
    display: flex;
}
.mission-part div{
    width: 33%;
}

.mission-part div img{
    width: 50%;
}
.mission-part h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}
.mission-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}
.first-box{
    padding: 20px;
    background-color: cornflowerblue;
    margin: 10px;
    border-radius: 20px;
}

.second-box{
    padding: 20px;
    background-color: rgb(124, 194, 103);
    margin: 10px;
    border-radius: 20px;
}

.third-box{
    padding: 20px;
    background-color: rgb(206, 196, 52);
    margin: 10px;
    border-radius: 20px;
}


/* third sec started from here */

.third-sec{
    display: flex;
    margin: 0px 40px;
    align-items: center;
}
.third-sec-img{
    width: 40%;
}
.third-sec-img img{
    width: 80%;
}
.third-sec-texts{
    width: 60%;
    margin-left: 30px;

}
.third-sec-texts h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.third-sec-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}
/* third sec end from here */



/* fourth sec started from here */

.fourth-sec{
    display: flex;
    margin: 80px 40px 40px 40px;
    align-items: center;
}
.fourth-sec-img{
    width: 40%;
}
.fourth-sec-img img{
    width: 80%;
}
.fourth-sec-texts{
    width: 60%;
    margin-right: 30px;

}
.fourth-sec-texts h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.fourth-sec-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}




/* font-family: 'Bree Serif', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif; */